Elad/PrinterService/PrinterServiceContract/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schemas.microsoft.com/windows/2006/08/wdp/print"
           xmlns:wprt="http://schemas.microsoft.com/windows/2006/08/wdp/print"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>
            WSD Commom Element and Types schema
            Copyright 2005-2006 Microsoft Corporation. All rights reserved
        </xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="WellKnownValues.xsd"/>

    <xs:annotation>
        <xs:documentation>Common attributes and Types used by semantic elements</xs:documentation>
    </xs:annotation>
    <xs:attribute name="MustHonor" type="xs:boolean" default="false"/>
    <xs:attribute name="Removed" type="xs:boolean" default="false"/>

    <xs:annotation>
        <xs:documentation>Common Types for the Print Template definitions allowed values</xs:documentation>
    </xs:annotation>
    <xs:complexType name="ValueTokenListType">
        <xs:sequence>
            <xs:element name="AllowedValue" type="wprt:NMTOKENSExtType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ValueStringListType">
        <xs:sequence>
            <xs:element name="AllowedValue" type="wprt:AnyURIExtType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ValueIntListType">
        <xs:sequence>
            <xs:element name="AllowedValue" type="wprt:IntExtType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ValueIntRangeType">
        <xs:sequence>
            <xs:element name="MinValue" type="wprt:IntExtType" minOccurs="0"/>
            <xs:element name="MaxValue" type="wprt:IntExtType" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:annotation>
        <xs:documentation>Basic element types used in more than one sub-schema</xs:documentation>
    </xs:annotation>
    <xs:complexType name="LevelFreeBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:LevelFreeRestrictType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="LevelFreeRestrictType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CapacityBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:CapacityRestrictType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CapacityRestrictType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BoolExtType">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IntExtType">
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IntZeroExtType">
        <xs:simpleContent>
            <xs:extension base="wprt:IntZeroBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="IntZeroBaseType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntOneExtType">
        <xs:simpleContent>
            <xs:extension base="wprt:IntOneBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="IntOneBaseType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimeExtType">
        <xs:simpleContent>
            <xs:extension base="xs:dateTime">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="String255ExtType">
        <xs:simpleContent>
            <xs:extension base="wprt:String255BaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="String255BaseType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NMTOKENSExtType">
        <xs:simpleContent>
            <xs:extension base="xs:NMTOKENS">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyURIExtType">
        <xs:simpleContent>
            <xs:extension base="xs:anyURI">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="QNameExtType">
        <xs:simpleContent>
            <xs:extension base="xs:QName">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:annotation>
        <xs:documentation>Semantic elements used in more than one sub-schema or used directly in an interface</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="CompressionExtType">
        <xs:union memberTypes="wprt:CompressionWKVType wprt:KeywordNsExtensionPatternType"/>
    </xs:simpleType>
    <xs:complexType name="CompressionType">
        <xs:simpleContent>
            <xs:extension base="wprt:CompressionExtType">
                <xs:attribute ref="wprt:MustHonor"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="DocumentFormatExtType">
        <xs:union memberTypes="wprt:DocumentFormatWKVType wprt:MimeExtensionPatternType"/>
    </xs:simpleType>
    <xs:complexType name="DocumentFormatType">
        <xs:simpleContent>
            <xs:extension base="wprt:DocumentFormatExtType">
                <xs:attribute ref="wprt:MustHonor"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType  name="DocumentIdType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResolutionEntryType">
        <xs:sequence>
            <xs:element name="Width" type="wprt:IntExtType"/>
            <xs:element name="Height" type="wprt:IntExtType" minOccurs="0"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:annotation>
        <xs:documentation>Media elements</xs:documentation>
    </xs:annotation>
    <xs:simpleType name="MediaSizeNameExtType">
        <xs:union memberTypes="wprt:MediaSizeSelfDescribingNameWKVType wprt:MediaSizeNameExtensionPatternType"/>
    </xs:simpleType>
    <xs:complexType name="MediaSizeNameType">
        <xs:simpleContent>
            <xs:extension base="wprt:MediaSizeNameExtType">
                <xs:attribute ref="wprt:MustHonor"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MediaTypeBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:MediaTypeExtType">
                <xs:attribute ref="wprt:MustHonor"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="MediaTypeExtType">
        <xs:union memberTypes="wprt:MediaTypeWKVType wprt:MediaTypeExtensionPatternType"/>
    </xs:simpleType>
    <xs:complexType name="MediaColorType">
        <xs:simpleContent>
            <xs:extension base="wprt:MediaColorExtType">
                <xs:attribute ref="wprt:MustHonor"/>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="MediaColorExtType">
        <xs:union memberTypes="wprt:MediaColorWKVType wprt:MediaColorExtensionPatternType"/>
    </xs:simpleType>

    <xs:complexType name="EventRateType">
        <xs:simpleContent>
            <xs:extension base="wprt:EventRateBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType  name="EventRateBaseType">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="600"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:annotation>
        <xs:documentation>Commom Type definintions for the Printer Configuration</xs:documentation>
    </xs:annotation>
    <xs:complexType name="StorageEntryType">
        <xs:sequence>
            <xs:element name="Type" type="wprt:StorageTypeBaseType"/>
            <xs:element name="Size" type="wprt:IntOneExtType"/>
            <xs:element name="Free" type="wprt:LevelFreeBaseType"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="wprt:String255BaseType" use="required"/>
        <xs:attribute ref="wprt:Removed"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="StorageTypeBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:StorageTypeExtType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="StorageTypeExtType">
        <xs:union memberTypes="wprt:StorageTypeWKVType wprt:KeywordNsExtensionPatternType"/>
    </xs:simpleType>
    <xs:simpleType name="StorageTypeWKVType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="RAM"/>
            <xs:enumeration value="PSMemory"/>
            <xs:enumeration value="NonRemovableFlash"/>
            <xs:enumeration value="HardDisk"/>
            <xs:enumeration value="SmartMedia"/>
            <xs:enumeration value="CompactFlash"/>
            <xs:enumeration value="MemoryStick"/>
            <xs:enumeration value="SecureDigital"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConsumableEntryType">
        <xs:sequence>
            <xs:element name="Type" type="wprt:ConsumableTypeBaseType"/>
            <xs:element name="Color" type="wprt:ConsumableColorType" minOccurs="0"/>
            <xs:element name="Level" type="wprt:LevelFreeBaseType"/>
            <xs:element name="Model" type="wprt:String255ExtType" minOccurs="0"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="wprt:String255BaseType" use="required"/>
        <xs:attribute ref="wprt:Removed"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ConsumableTypeBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:ConsumableTypeExtType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ConsumableTypeExtType">
        <xs:union memberTypes="wprt:ConsumableTypeWKVType wprt:KeywordNsExtensionPatternType"/>
    </xs:simpleType>
    <xs:simpleType name="ConsumableTypeWKVType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:maxLength value="255"/>
            <xs:enumeration value="Toner"/>
            <xs:enumeration value="WasteToner"/>
            <xs:enumeration value="Ink"/>
            <xs:enumeration value="WasteInk"/>
            <xs:enumeration value="Opc"/>
            <xs:enumeration value="Developer"/>
            <xs:enumeration value="FuserOil"/>
            <xs:enumeration value="Wax"/>
            <xs:enumeration value="WasteWax"/>
            <xs:enumeration value="Staples"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConsumableColorType">
        <xs:simpleContent>
            <xs:extension base="wprt:ConsumableColorExtType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ConsumableColorExtType">
        <xs:union memberTypes="wprt:ConsumableColorWKVType wprt:KeywordNsExtensionPatternType"/>
    </xs:simpleType>
    <xs:simpleType name="ConsumableColorWKVType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:maxLength value="255"/>
            <xs:enumeration value="Black"/>
            <xs:enumeration value="Blue"/>
            <xs:enumeration value="Color"/>
            <xs:enumeration value="Cyan"/>
            <xs:enumeration value="Gray"/>
            <xs:enumeration value="Green"/>
            <xs:enumeration value="Magenta"/>
            <xs:enumeration value="PhotoBlack"/>
            <xs:enumeration value="PhotoColor"/>
            <xs:enumeration value="PhotoCyan"/>
            <xs:enumeration value="PhotoMagenta"/>
            <xs:enumeration value="PhotoYellow"/>
            <xs:enumeration value="Red"/>
            <xs:enumeration value="White"/>
            <xs:enumeration value="Yellow"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InputBinEntryType">
        <xs:sequence>
            <xs:element name="FeedDirection" type="wprt:InputBinFeedDirectionType"/>
            <xs:element name="MediaSize" type="wprt:InputBinMediaSizeType"/>
            <xs:element name="MediaType" type="wprt:InputBinMediaTypeBaseType" minOccurs="0"/>
            <xs:element name="MediaColor" type="wprt:InputBinMediaColorType" minOccurs="0"/>
            <xs:element name="Capacity" type="wprt:CapacityBaseType"/>
            <xs:element name="Level" type="wprt:LevelFreeBaseType"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="wprt:InputBinNameType" use="required"/>
        <xs:attribute ref="wprt:Removed"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:simpleType name="InputBinNameType">
        <xs:union memberTypes="wprt:InputBinWKVType wprt:InputBinExtensionPatternType"/>
    </xs:simpleType>
    <xs:complexType name="InputBinFeedDirectionType">
        <xs:simpleContent>
            <xs:extension base="wprt:InputBinFeedDirectionBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="InputBinFeedDirectionBaseType">
        <xs:restriction base="xs:NMTOKEN">
            <xs:maxLength value="255"/>
            <xs:enumeration value="LongEdgeFirst"/>
            <xs:enumeration value="ShortEdgeFirst"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InputBinMediaSizeType">
        <xs:simpleContent>
            <xs:extension base="wprt:InputBinMediaSizeBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="InputBinMediaSizeBaseType">
        <xs:restriction base="wprt:MediaSizeSelfDescribingNameWKVType"/>
    </xs:simpleType>
    <xs:complexType name="InputBinMediaTypeBaseType">
        <xs:simpleContent>
            <xs:extension base="wprt:InputBinMediaTypeExtType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="InputBinMediaTypeExtType">
        <xs:restriction base="wprt:MediaTypeWKVType"/>
    </xs:simpleType>
    <xs:complexType name="InputBinMediaColorType">
        <xs:simpleContent>
            <xs:extension base="wprt:InputBinMediaColorBaseType">
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="InputBinMediaColorBaseType">
        <xs:restriction base="wprt:MediaColorWKVType"/>
    </xs:simpleType>
    <xs:complexType name="FinishingsType">
        <xs:sequence>
            <xs:element name="CollationSupported" type="wprt:BoolExtType"/>
            <xs:element name="JogOffsetSupported" type="wprt:BoolExtType"/>
            <xs:element name="DuplexerInstalled" type="wprt:BoolExtType"/>
            <xs:element name="StaplerInstalled" type="wprt:BoolExtType"/>
            <xs:element name="HolePunchInstalled" type="wprt:BoolExtType"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="OutputBinEntryType">
        <xs:sequence>
            <xs:element name="Capacity" type="wprt:CapacityBaseType"/>
            <xs:element name="Level" type="wprt:LevelFreeBaseType"/>
            <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Name" type="wprt:OutputBinNameType" use="required"/>
        <xs:attribute ref="wprt:Removed"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:simpleType name="OutputBinNameType">
        <xs:union memberTypes="wprt:OutputBinWKVType wprt:OutputBinExtensionPatternType"/>
    </xs:simpleType>
</xs:schema>
